---
// Redirect old /login/ page to home (login is now on the index page)
---

<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><meta http-equiv="refresh" content="0; url=/"></head>
<body><p><a href="/">Login is now on the home page.</a></p></body>
</html>
