---
// Redirect to the first project
import { projects } from '../../lib/projects'
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content={"0; url=" + projects[0].href} />
  <script>window.location.href = "{projects[0].href}"</script>
</head>
<body>
  <p><a href={projects[0].href}>Redirecting to {projects[0].title}...</a></p>
</body>
</html>
